.card-container {
  height: 450px;
  justify-content: space-between;
  &__header {
    position: relative;
    padding: 0;
  }
  & span {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.card-body {
  padding: 11px;
  & p {
    margin-bottom: 0.5rem;
  }
}

.card-img-top.card-container {
  &__header {
    min-height: 50%;
  }
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.card-footer {
  font-size: 20px;
  padding: 11px 5px;
  text-align: center;
}

@media (max-width: 1400px) {
  .card-container {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .card-container {
    height: 600px;
  }
  .card-container,
  .card-footer {
    font-size: 26px;
  }
  .card-body {
    & p {
      margin-bottom: 1rem;
    }
  }
}
.edit-textarea {
  background-color: rgb(241, 238, 238);
  padding: 0;
  margin: 0 0 0 5px;
}
