.dark {
  $enable-gradients: true;

  $primary: #012345;
  $secondary: #111111;
  $success: #222222;
  $dark: #000;
  $light: #000;

  $theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'danger': $danger,
    'info': $indigo,
    'dark': $dark,
    'light': $light
  );

  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-color: #eeeeee;
  $body-bg: #263c5c;
  $btn-bg: '#263c5c';
  $btn-color: 'red';

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};
  --#{$variable-prefix}btn-bg: #{$btn-bg} !important;
  --#{$variable-prefix}btn-color: #{$btn-color} !important;
}
