@import 'mixins';
@import 'fonts';
@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'darkMode';
@import 'react-edit-text/dist/index.css';
@import 'react-bootstrap-typeahead/css/Typeahead.css';

html,
body {
  line-height: 1;
  font-size: 22px;
  height: 100%;
  font-family: 'Roboto';
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

._container-wide {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ms-n5 {
  margin-left: -48px;
}

.overlay {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: anim 5s ease;
  position: absolute;
  bottom: 10px;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card {
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
}
