@import 'mixins';
@import 'fonts';
@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'darkMode';

html,
body {
  line-height: 1;
  font-size: 22px;
  height: 100%;
  font-family: 'Roboto';
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

._container-wide {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ms-n5 {
  margin-left: -48px;
}

.overlay {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: anim 5s ease;
  position: absolute;
  bottom: 10px;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card {
  cursor: pointer;
}
