@media (max-width: 1000px) {
  .table {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .table {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .hide {
    display: none;
  }
}

@media (max-width: 480px) {
  .table {
    & td,
    & th {
      padding: 0.5rem 0.1rem;
    }
  }
}
