.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  margin-bottom: 20px;
  cursor: pointer;
  top: 0;
  height: 100%;
}

.accept {
  border-color: #107c10;
}

.reject {
  border-color: #d83b01;
}
